body{
	background: #dfe4ea;
	font-family: Calibri;
	text-align: center;
}

#main-container{
	margin: 150px auto;
	width: 60px;
	
}

table{
	background-color: white;
	text-align: center;
	width: 40%;
	border-collapse: collapse;
	margin-right: 40px;
	margin-left: 400px;
	
}

input{
	color: black;
	background: cadetblue;
     text-align: justify;
	 padding: auto;
	 top: 50%;
	 margin: 20px;
}